@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

$main-color: #8daae5;
$default-font: arial,
sans-serif;
$special-font: 'pt sans',
'roboto',
arial,
sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background-color: $main-color;
    font-family: $default-font;
    color: white;
}

.wrapper {

    //kontener
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;

    //pozycja
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;

    //wygąd
    font-size: 2rem;
    background-color: white;
    box-shadow: 0 0 4px 0 #000;
}

//wszystkie komponenty w jednym pliku, można potem rozbić

.logo {
    flex-basis: 200px;
    @media (max-width: 799px) {
        margin-left: 15vw;
    }

    &__image {
        display: block;
        width: 100%;
    }



}

.search {

    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 799px)
{
    flex-basis: 100%;
    order: -1;
}
    &__input {
        flex-basis: 60%;
        height: 40%;
        max-height: 40px;
        min-height: 35px;
        margin-right: 10px;
        padding: 0 10px;
        font-size: 1.4rem;

        &:focus {
            box-shadow: 0 0 2px 1px $main-color;
            font-weight: bold;
        }
    }

    &__btn {
        height: 40%;
        max-height: 40px;
        min-height: 35px;
        font-size: 1.4rem;
        padding: 0 10px;
        border: 2px solid black;
        background-color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: black;
            color: white;
        }

    }


}

.settings {
    display: flex;
    padding: 0 40px 0 30px;
    align-items: center;
    justify-content: center;

    @media (max-width: 799px) {
        flex-grow: 1;
        justify-content: flex-end;

    }

    &__icon-link {
        margin: 0 10px 0 5px;
        color: #666;
        transition: 0.4s;

        &:hover {
            color: black;
        }
    }
}

.menu {
    flex-basis: 100%;
    height: 70px;
    margin-top: 10px;
    background-color: #333;
    font-family: $special-font;
    padding: 15px 50px 15px 80px;

    &__list {
        list-style: none;
        display: flex;
    }

    &__item {
        margin: 0 20px;
        font-size: 2rem;
        text-transform: uppercase;
        line-height: 4rem;
        translate: 0.2s;

        &:hover {
            border-bottom: 2px yellow solid;
        }

        &:nth-last-child(1) {

            margin-left: auto;
            border: 2px solid white;
            translate: 0.5s;

            &:hover {
                border-color: yellow;
            }

            .menu__link {
                padding: 0 20px;

            }

        }

    }

    &__link {
        color: white;
        text-decoration: none;
        display: block;

    }
}



.main-articles {
    flex-basis: 100%;
    background-color: $main-color;
    display: flex;
    flex-wrap: wrap;

    &__intro {
        flex-basis: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.2);
        text-align: center;
        font-size: 4rem;
        letter-spacing: 3px;

    }
    .article {
        flex-basis: 50%;
        @media (max-width: 799px) {
            flex-basis: 100%;
            
        }
    }
}

.article {
    padding: 30px 50px;
    color: #333;
    text-align: center;

    &--small {
        padding: 15px 0 20px;
    }

    &__image {
        display: block;
        width: 100%;
    }

    &__title {
        font-family: $special-font;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 35px 0 15px;

        .article--small & {
            font-size: 1.6rem;
            padding: 25px 0 10px;
            background-color: $main-color;
        }
    }

    &__introduction {
        line-height: 1.6;
        font-size: 1.6rem;
    }

    &__btn {
        display: block;
        width: 50%;
        min-width: 200px;
        margin: 10px auto 10px auto;
        font-size: 1.8rem;
        color: black;
        padding: 5px;
        border: 2px solid black;
        background-color: $main-color;
        transition: 0.3s;
        text-decoration: none;

        &:hover {
            background-color: #ccc;
        }
    }
}




.article-list {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-around;

    &__article {
        flex-basis: 30%;
        @media(max-width: 1023px) {
            flex-basis: 45%;
        }
    }
}

.footer {
    flex-basis: 100%;
    background-color: $main-color;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;

    .sm-links {
        flex-basis: 30%;

    }
}

.sm-links {
    font-family: $special-font;
    padding-right: 10px;
    padding-bottom: 20px;
    text-align: center;


    &--darken {
        background-color: darken($main-color, 10%);
    }

    &__title {
        margin: 20px 0 40px;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 400;
    }

    &__item {
        text-indent: 15px;
        font-size: 1.8rem;
    }
}

// .sm-links {
//     background-color: red;
//     height: 60px;
// }